body {
    font-family: Arial, sans-serif;
    background-color: #fefee2 !important;
    margin-top: 100px !important; /* Espace pour la navbar fixe */
}

p{
    color: #591E1E;

}

.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }  

.navbar {
    background-color: #591E1E; 
    color: whitesmoke;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    flex-grow: 1;
    text-align: start;
    justify-content: start;
    font-family: 'Great Vibes', cursive;
}
.navbar-button-text{
    
    color: whitesmoke;
}

.navbar-brand span {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    color: #fefee2;
}
.logo-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.logo-container img {
    height: 80px;
}

.banner {
    background-color: #fefee2;
    color: #591E1E;
    padding: 50px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container {
    display: flex;
    align-items: center;
}

.banner img {
    max-height: 300px; 
    width: auto;
}


.slogan {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #591E1E;

}


.parchemin {
    background: #fff0bc;
    background-size: cover;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #332;
    font-family: 'Great Vibes', cursive;
    position: relative;
}

.titre-conte {
    font-size: 3rem;
    color: #591E1E;
    text-align: center;
    margin-bottom: 20px;
}

.texte-conte {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.texte-conte::first-letter {
    font-size: 3rem;
    color: #591E1E;
    float: left;
    margin-right: 10px;
    line-height: 1;
}


#specialites .carousel-caption {

    border-radius: 10px;
    padding: 20px;
    text-shadow: none;

}

#specialites h2 {
    font-family: 'Great Vibes', cursive;
    color: #591E1E;
}

#specialites h3 {
    font-family: "Marcellus", serif;
    color: #591E1E;
}

.special-text {
    font-family: "Marcellus", serif;
}